{% extends 'projects/layout.html' %}
{% load static %}
{% block title %}Project Details{% endblock %}

{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
          <img src="{{ project.project_image.url }}" alt="{{ project.title }}">
          <h1 class="fw-light">{{ project.title }}</h1>
          <p class="lead text-body-secondary">{{ project.description }}</p>
            <p>
              <a href="{% url 'album' %}" class="btn btn-primary my-2">Back</a>
            </p>
      </div>
    </div>
</section>
{% endblock %}